<nav class="custom-purple-background">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <img src="http://windytreenaturals.com/wp-content/uploads/2015/05/Logo-e1432406383892.png" width="300" height="auto" alt="Windy Tree Naturals Logo">
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/lotions">Our Lotions</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/shop">Shop Online</a></li>
      <li><i class="material-icons">shopping_cart</i></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/lotions">Our Lotions</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/shop">Shop Online</a></li>
      <li><i class="material-icons">shopping_cart</i></li>
    </ul>
  </div>
</nav>

