 <div class="row">
  <div class="col s12 m5">
    <%= image_tag("lavender_bunch.jpg", class: "homepage-image")%>
  </div>

  <div class="col s12 m7 center dancing-script custom-green-font purple-shadow">
    <h2>Hand Blended Lotions</h3>
    <%= image_tag("windy_tree_bottle.jpg", class:"circle homepage-bottle")%>
    <h2>From Door County, Wisconsin</h5>
  </div>
</div>