/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.custom-purple-background {
  background-color: #7C5AC6;
}

.custom-green-font {
  color: #609448;
}

.purple-shadow {
  text-shadow: 1px 1px #7C5AC6 ;
}

.homepage-image {
  width: 45vw;
  height:"auto";
  padding-top: 3%;
}

.homepage-logo {
  width: 80%;
}

.navbar-logo {
  height: 100%;
  width: auto;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.homepage-bottle {
  max-height: 40vh;
}
